<!doctype html>
<html lang="en">
    <head>
      <%- include("./partials/header")  %>
      <link rel="stylesheet" href="css/login.css">
    </head>

    <%- include("./partials/flash")  %>
     

    <body>


      <%- include("./partials/navbarquiz")  %>

      <style>
        .quiz-cards-top{
          margin-top: 3%;
          margin-bottom: 0%;
        }
        .quiz-cards{
          margin-top: 2.5%;
        }
      </style>


      
      <div class="container">
          <!-- <div class="top-row-btns">
            <button type="button" class="btn btn-secondary top-row-text" id="first-top-button">All Topics</button>
            <button type="button" class="btn btn-secondary top-row top-row-text" id="second-top-button">Test Settings</button>
          </div> -->
        
          <div class="container-quizzes">
            <div class="row">
                <div class="col-sm-12 quiz-cards-top">
                    <div class="card">
                        <div class="card-body">
                        <h5 class="card-title">Business Math</h5>
                        <p class="card-text"><strong>Objective Test Competencies:</strong> Basic Math Concepts; Consumer Credit; Data
                          Analysis and Probability; Decimals; Discounts; Fractions; Percentages</p>
                        <a href="/quiz/businessmath/info" class="btn btn-primary">Start Test</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 quiz-cards">
                    <div class="card">
                        <div class="card-body">
                        <h5 class="card-title">Economics</h5>
                        <p class="card-text"><strong>Objective Test Competencies:</strong> Basic Economic Concepts and Principles; Monetary
                          and Fiscal Policy; Productivity; Macroeconomics; Market Structures; Investments
                          and Interest Rates; Government Role; Types of Businesses/Economic Institutions;
                          Business Cycles/Circular Flow; Supply & Demand; International Trade/Global
                          Economics
                          </p>
                        <a href="/quiz/economics/info" class="btn btn-primary">Start Test</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 quiz-cards">
                    <div class="card">
                        <div class="card-body">
                        <h5 class="card-title">Banking Finance Systems</h5>
                        <p class="card-text"><strong>Objective Test Competencies:</strong> Concepts and
                          Practices; Basic Terminology; Government
                          Regulation of Financial Services; Impact of
                          Technology on Financial Services; Types and
                          Differences of Various Institutions; Ethics;
                          Careers in Financial Services; Taxation
                          </p>
                        <a href="/quiz/bankingfinsystems/info" class="btn btn-primary">Start Test</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 quiz-cards">
                    <div class="card">
                        <div class="card-body">
                        <h5 class="card-title">Business Communication</h5>
                        <p class="card-text"><strong>Objective Test Competencies:</strong> Nonverbal and Verbal Communication;
                          Communication Concepts; Report Application; Grammar; Reading
                          Comprehension; Editing and Proofreading; Word Definition and Usage;
                          Capitalization and Punctuation; Spelling; Digital Communication</p>
                        <a href="/quiz/businesscommunication/info" class="btn btn-primary">Start Test</a>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
        

          <%- include("./partials/btstjs")  %>
    </body>