<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>FBLA Quiz</title> 
        <meta name="description" content="The HTML5 Herald">
        <meta name="author" content="SitePoint">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="css/home.css">
    </head>

    <body>
        <style>

        </style>

        <!---------------------------------------------------->
        <div class="same-line-maker">

            <div class="info-card-large">
                <h1 class="logo-home-page">BQuiz</h1>
                <h3 class="description-home-page">Welcome to BQuiz the best site to ace your next FBLA quiz</h3>
            </div>

            <div class="seperator"></div>



            <div class="form-control-nine">
                <form action="/register" method="POST" class="validated-form" novalidate>
                    <div class="mb-2 login-input-div">
                        <label class="form-label" for="username">What should we call you?</label>
                        <input class="form-control home-register" type="text" id="username" name="username" placeholder="Username" size="500" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="mb-2 login-input-div">
                        <label class="form-label" for="username">What's your email?</label>
                        <input class="form-control home-register" type="email" id="email" name="email" placeholder="Email" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="mb-2 login-input-div">
                        <label class="form-label" for="username">Create a password</label>
                        <input class="form-control home-register" type="password" id="password" name="password" placeholder="Password" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="submit-btn">
                        <button class="btn btn-success submit-text">Create New Account</button>
                    </div>
                </form>
                <hr>
                <h4 class="center-size-already">Already Have an Account?</h2>
                <div class="submit-btn">
                    <button class="btn btn-primary login-redirect-btn">Login</button>
                </div>
            </div>

        </div>
    </body>






<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>