<!doctype html>
<html lang="en">
    <head>
        <%- include("./partials/header")  %>
        <link rel="stylesheet" href="css/home.css">
    </head>

    <body>
        <style>

        </style>

        <!---------------------------------------------------->
        <%- include("./partials/flash")  %>
        <div class="same-line-maker">

            <div class="info-card-large">
                <h1 class="logo-home-page">BQuiz</h1>
                <h3 class="description-home-page">Welcome to BQuiz the best site to ace your next FBLA quiz</h3>
            </div>

            <div class="seperator"></div>



            <div class="form-control-nine">
                <form action="/register" method="POST" class="validated-form" novalidate>
                    <div class="mb-2 login-input-div">
                        <label class="form-label" for="username">What should we call you?</label>
                        <input class="form-control home-register" type="text" id="username" name="username" placeholder="Username" size="500" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="mb-2 login-input-div">
                        <label class="form-label" for="username">What's your email?</label>
                        <input class="form-control home-register" type="email" id="email" name="email" placeholder="Email" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="mb-2 login-input-div">
                        <label class="form-label" for="username">Create a password</label>
                        <input class="form-control home-register" type="password" id="password" name="password" placeholder="Password" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="submit-btn">
                        <button class="btn btn-success submit-text">Create New Account</button>
                    </div>
                </form>
                <hr>
                <h4 class="center-size-already">Already Have an Account?</h2>
                <div class="submit-btn">
                    <a href="/login"><button class="btn btn-primary login-redirect-btn">Login</button></a>
                </div>
            </div>

        </div>
    </body>






    <%- include("./partials/btstjs")  %>
</html>