<!doctype html>
<html lang="en">
    <head>
        <%- include("./partials/header")  %>
        <link rel="stylesheet" href="css/login.css">
    </head>

    <body>
        <style>

        </style>

        <!---------------------------------------------------->
        
        <!-- <div class="same-line-maker">

            <div class="info-card-large">
                <h1 class="logo-home-page">BQuiz</h1>
                <h3 class="description-home-page">Welcome to BQuiz the best site to ace your next FBLA quiz</h3>
            </div>

            <div class="seperator"></div> -->



            <!-- <div class="form-control-nine">
                <form action="/register" method="POST" class="validated-form" novalidate>
                    <div class="mb-2 login-input-div">
                        <label class="form-label" for="username">What should we call you?</label>
                        <input class="form-control home-register" type="text" id="username" name="username" placeholder="Username" size="500" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="mb-2 login-input-div">
                        <label class="form-label" for="username">What's your email?</label>
                        <input class="form-control home-register" type="email" id="email" name="email" placeholder="Email" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="mb-2 login-input-div">
                        <label class="form-label" for="username">Create a password</label>
                        <input class="form-control home-register" type="password" id="password" name="password" placeholder="Password" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="submit-btn">
                        <button class="btn btn-success submit-text">Create New Account</button>
                    </div>
                </form>
                <hr>
                <h4 class="center-size-already">Already Have an Account?</h2>
                <div class="submit-btn">
                    <a href="/login"><button class="btn btn-primary login-redirect-btn">Login</button></a>
                </div>
            </div> -->
            <%- include("./partials/navbar")  %>

            <div class="container" id="contactContainer">
                <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
                    <h1 class="display-4">Register</h1>
                    <p class="lead">Sign up for a personalized account to ace your next FBLA Quiz.</p>
                </div>
                <%- include("./partials/flash")  %>
                <form class = "needs-validation" method="POST" action = "/register" novalidate>
                    <div class="form-group">
                            <label for="username">Username:</label>
                            <input type="text" class="form-control" id="username" name="username" required>
                    </div>
                    <div class="form-group">
                            <label for="username">Email:</label>
                            <input type="email" class="form-control" id="email" name="email"  required>
                    </div>
                    <div class="form-group">
                            <label for="password">Password:</label>
                            <input type="password" class="form-control" id="password" name="password" required>
                    </div>
                    <button class="btn btn-lg btn-block btn-primary" id="submit-button" type="submit">Submit</button>
                </form>
            </div>


        <!-- </div> -->
    </body>






    <%- include("./partials/btstjs")  %>
</html>