<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>FBLA Quiz</title> 
        <meta name="description" content="The HTML5 Herald">
        <meta name="author" content="SitePoint">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="css/home.css">
    </head>

    <body>
        <%- include("../partials/flash")  %>
        <h1>dfkgbdf;lhgdsfkhgsdfkjhdflkjghdfkjghdflkjghdfkjghdfkjghdflkjhg</h1>
    </body>