<!doctype html>
<html lang="en">
    <head>
        <%- include("./partials/header")  %>
        <link rel="stylesheet" href="css/login.css">
    </head>

    <body>
        <%- include("./partials/navbarquiz")  %>


        <h2 style="color: white;"><%= data %> </h2>
    </body>






    <%- include("./partials/btstjs")  %>
</html>