<!doctype html>
<html lang="en">
    <head>
        <%- include("./partials/header")  %>
        <link rel="stylesheet" href="css/testinfo.css">
    </head>

    <body>
        <a class="testClass" href="/quiz/<%=questions[0].topicurl%>/quiz"><%=questions[0].topic%></a>
    </body>


    <%- include("./partials/btstjs")  %>
</html>
        
        
2




