<html>
    <head>
        <%- include("./partials/header")  %>
    </head>
    <body>
        <style>
            body, html{
            height: 100%;
            background: rgb(240, 242, 245);
            font-family : Rubik; 
            }
            .bar-progress-test{
                position: fixed;
                width: 40%;
                margin-left: 30%;
                margin-right: 30%;
            }
            .top-nav-for-scroll{
                position: fixed;
                height: 1%;
                background: black;
            }
            /* .next-btn{
                margin-top: 33%;
                margin-left: 75%;
            } */
            #number-of-questions{
                font-size: 0px;
            }
            .question-div{
                
                background: white;
                width: 50%;
                margin-left: 25%;
                margin-top: 5%;
                padding-left: 4%;
                padding-right: 4%;
                padding-top: 1%;
                padding-bottom: .5%;
                border-radius: 20px;
            }
            #options{
                margin-left: 28.5%;
                width: 70%;
                margin-top: 1.5%;
            }
            #optionA{
                width: 30%;
                height: 9%;
                border-radius: 20px;
            }
            #optionB{
                margin-left: 2%;
                width: 30%;
                height: 9%;
                border-radius: 20px;
            }
            #optionC{
                width: 30%;
                height: 9%;
                border-radius: 20px;
            }
            #optionD{
                margin-left: 2%;
                width: 30%;
                height: 9%;
                border-radius: 20px;
            }
            #options-bottom-row{
                margin-top: 1%;
            }

        </style>

        <p id="question">sdfsdf</p>
        <button onclick="nextQuestion()">QUESTION</button>

        <script>
            allQuestions = [];
            const cookieValue = document.cookie.split('; ').find(row => row.startsWith('questionsFirstThree')).split('=')[1];
            let decodedCookieValue = decodeURIComponent(cookieValue.toString().substring(2));
            decodedCookieValueJson = JSON.parse(decodedCookieValue)
            decodedCookieValueJson.forEach(element => {
                allQuestions.push(element);
            });
            // const cookieValueTwo = document.cookie.split('; ').find(row => row.startsWith('questionsSecondThree')).split('=')[1];
            // let decodedCookieValueTwo = decodeURIComponent(cookieValueTwo.toString().substring(2));
            // decodedCookieValueJsonTwo = JSON.parse(decodedCookieValueTwo)
            // decodedCookieValueJsonTwo.forEach(element => {
            //     allQuestions.push(element);
            // });
            
            

            let currentQuestionNumber = 1


            function nextQuestion() {
                document.getElementById('question').textContent = allQuestions[currentQuestionNumber -1].question;
                currentQuestionNumber++;
            }

        </script>
        <%- include("./partials/btstjs")  %>
    </body>
</html>


