<nav class="navbar navbar-expand-md navbar-light bg-warning">
    <a class="navbar-brand border border-warning rounded font-weight-bold font-italic" href="/">BITQUIZ</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

 
</nav>